html,body {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

header {
    height: 70px;
    width: 100%;
    background-color: black;
    border-bottom: 5px solid gray;
    position: absolute;
    top: 0;
}
header p {		
    color: white;
    font-size: 35px;
    margin-left: 20px;
    line-height: 0;
}