html,body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

header {
    width: 100%;
    background-color: black;
    border-bottom: 5px solid gray;
    top: 0;
}
header p {		
    color: white;
    font-size: 35px;
    margin-left: 20px;
}

@media (min-width: 1000px) {
    header {
        border-bottom: 15px solid gray;
    }
    header p {
        font-size: 70px;
        margin-left: 50px;
    }
}

@media (min-width: 2000px) {
    header {
        border-bottom: 25px solid gray;
    }
    header p {
        font-size: 120px;
    }
}