.row {
    margin: 0px;
    font-size: 25px;
}
.inputName {
    background-color: lightgrey;
    border: 0;
    outline:none;
    color: grey;
}
.selectSize {
    background-color: lightgrey;
    border: 0;
    outline:none;
    color: grey;
}
.buttonCreateGame {
    background-color: lightgrey;
    border: 0;
    outline:none;
    color: grey;
}
@media (min-width: 550px) {
    .vertical-align {
        display: flex;
        align-items: center;
    }
}
@media (min-width: 1000px) {
    .row{
        font-size: 30px;
    }
}
@media (min-width: 2000px) {
    .row{
        font-size: 100px;
    }
}