<form (ngSubmit) = "onSubmit()" #createForm = "ngForm">
    <div class = "row vertical-align">

        <input type = "text" class = "inputName col-xs-12 col-sm-5 col-md-3 col-lg-4" placeholder = "Введите имя" required pattern="^[\S][а-яА-Яa-zA-Z0-9_-\s]{1,}" maxlength="15" [(ngModel)] = "user" name = "user">

        <select class = "selectSize col-xs-4 col-sm-2 col-md-1 col-lg-1" [(ngModel)] = "size" name = "size">
            <option *ngFor = "let size_i of sizes" [value]="size_i">{{size_i}}</option>
        </select>

        <button type = "submit" class = "buttonCreateGame col-xs-8 col-sm-4 col-md-3 col-lg-4" [disabled] = "createForm.form.invalid">
            Создать игру
        </button>
            
        <div class = "col-sm-1 col-md-5 col-lg-3">
        </div>

    </div>
</form>
<app-game-list [userName] = "user"></app-game-list>